html {
    background-color: #f6f4f4;
}

body {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
nav {
    width: 530px;
}
nav h1{
    font: 60px/20px normal normal arial,sans-serif;
    font-weight: bold;
    color: rgb(69, 69, 255);

}
nav p {
    font: 27px/31px normal normal arial,sans-serif;
    color: rgb(52, 51, 51);
}
aside {
    width: 370px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}

aside .container{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;

    
}

aside .container input,button {
    width: 100%;
    height: 50px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 7px;
    font: 17px/16px normal normal arial,sans-serif;
    color: rgb(194, 203, 211);
    margin-bottom: 12px;
    
}
aside .container input {
    text-indent: 20px;
}

aside .container button.login {
    background-color: rgb(69, 69, 255);
    font: 20px/20px normal bold verdana,sans-serif;
    color: aliceblue;
    font-weight: bold;
}

aside .container a {
    margin: auto;
    text-decoration: none;
    margin: 10px auto 20px auto;
    color: rgb(69, 69, 255);
    font: 14px/16px normal normal arial,sans-serif;
}
aside .container hr {
    background-color: white;
    width: 100%;
    margin: auto;
}
aside .container button.buatakun {
    background-color: rgb(22, 194, 22);
    width: 170px;
    font: 15px/20px normal normal arial,sans-serif;
    color: white;
    border: 1px solid rgb(22, 194, 22);
    font-weight: bold;
    margin-top: 34px;
}